/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 130vh;
}

.nav-container {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    font-weight: bold;
    font-size: 35px;
    color: #000;
}

.nav-menu ul {
    display: flex;
    gap: 45px;
}

.nav-menu ul li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* header brand section style */
.brand-group {
    margin-top: 35px;
    text-align: center;
}

.brand-title {
    font-weight: 700;
    font-size: 50px;
    color: #000;
}

.item-desc {
    font-weight: 400;
    color: #727272;
    margin: 15px 0;
    line-height: 150%;
}

.brand-btn {
    width: 150px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.banner-img {
    text-align: center;
    margin-top: 50px;
}

/* feature style */
.features-list-container {
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.features-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.feature-list-info h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.quick-h2 {
    font-weight: 500;
    color: #727272;
}

.feat-h2 {
    color: #FF900E;
}

/* features advantages section style */

.features-advantages-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.vl {
    border-left: 5px solid #FF900E;
    height: 80px;
    margin-left: -15px;
    margin-top: 100px;
    display: inline-block;
}

.features-info {
    margin-top: -185px;
}

.features-info h1 {
    font-weight: bold;
    font-size: 35px;
    color: #000;
    margin-top: 100px;
}

.features-advantages {
    margin-left: 200px;
}

.features-advantages-item {
    width: 586px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 30px;

}

.features-advantages-img {
    margin-left: 90px;
}

.experience-btn {
    position: relative;
    top: -3%;
    left: -80%;
    width: 260px;
    height: 150px;
    padding: 20px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #FF900E;
    border-radius: 8px;
    border: none;


}

.experience-btn p {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}
/* service section style */
.our-service-container{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.our-services h3{
    text-align: center;
    margin-bottom: 20px;
    
}
.our-services ul li{
    list-style: none;
    text-align: center;
    line-height: 150%;
    font-weight: 500;
    font-size: 25px;
    color: #131313;
}
.service-section-img{
}
/* fact section style */

.fact-info {
    margin-left: 240px;
}

.fact-info h3,.our-services h3 {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

.fact-item-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;

}

.fact-item {
    width: 180px;
    height: 180px;
    font-weight: 600;
    font-size: 25px;
    color: #424242;
    text-align: center;
    border: 1px solid #FF900E ;
    border-radius: 8px;
    padding: 50px 0;
    transition: transform .2s;
}

.fact-item:hover {
    width: 200px;
    height: 200px;
    border: 1px solid #228abb;
    transform: scale(1.2);
}

.fact-item img {
    width: 45px;
    height: 45px;
}

.fact-item-desc-tow {
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}
/* sponsor section style */

.sponsor-info h3{
    margin-top: 100px;
    font-weight: 700;
font-size: 35px;
color: #131313;
text-align: center;
line-height: 200%;
}
.sponsor-info p{
    text-align: center;
    color: #727272;
    line-height: 150%;
}
.sponsor-list-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    background: #FFF4E7;
border-radius: 8px;
color: #424242;
text-align: center;
padding: 30px;
width: 1440px;
margin: 120px auto;

}